:root {
  --color-body-bg: hsl(204, 42.9%, 93.1%);
  --color-primary-bg: hsl(179.1, 62%, 43.3%);
  --color-secondary-bg: hsl(179, 47.8%, 52%);
  --color-button-bg: hsl(70.8, 72.9%, 53.7%);
  --color-pure-white: hsl(0, 0%, 100%);
  --color-white-75: hsla(0, 0%, 100%, 0.75);
  --color-white-50: hsla(0, 0%, 100%, 0.5);
  --color-text: hsl(218.3, 21.7%, 67.5%);
  --text-h1: 700 1.25rem/1.4375rem "Karla", sans-serif;
  --text-h2: 700 1.125rem/1.3125rem "Karla", sans-serif;
  --text-callout: 700 0.9375rem/1.25rem "Karla", sans-serif;
  --text-p: 400 0.875rem/1.625rem "Karla", sans-serif;
  --text-price: 700 2rem/2.3125rem "Karla", sans-serif;
  --text-duration: 400 0.875rem/1.625rem "Karla", sans-serif;
  --text-price-p: 400 1rem/1.625rem "Karla", sans-serif;
  --text-button: 700 1rem/1.1875rem "Karla", sans-serif;
  --text-li: 400 0.875rem/1.25rem "Karla", sans-serif;
  --shadow-card: 0rem 0.9375rem 1.875rem hsla(211.6, 100%, 33.5%, 0.1);
  --shadow-button: 0rem 0.625rem 0.625rem hsla(0, 0%, 0%, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input,
select,
textarea {
  border: none;
  box-shadow: none;
  outline: none;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
}

ul,
ol {
  list-style: none;
}

body {
  background-color: var(--color-body-bg)
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  display: grid;
  grid-template-columns: 19.4375rem;
  grid-template-rows: 16.6875rem 14.25rem 14.25rem;
  box-shadow: var(--shadow-card);
  background-color: var(--color-pure-white);
  border-radius: 5px;
}

.card>section {
  padding: 1.5rem;
}

.card-top {
  background-color: var(--color-pure-white);
  border-radius: 5px 5px 0 0;
}

.card-mid {
  background-color: var(--color-primary-bg);
}

.card-btm {
  background-color: var(--color-secondary-bg);
  border-radius: 0 0 5px 5px;
}

.card h1 {
  margin-top: 4px;
  margin-bottom: 24px;
  font: var(--text-h1);
  color: var(--color-primary-bg);
  letter-spacing: -0.0156rem;
}

.card .callout {
  margin-bottom: 16px;
  font: var(--text-callout);
  color: var(--color-button-bg);
  letter-spacing: -0.0117rem;
}

.card-top-text {
  margin-bottom: 8px;
  font: var(--text-p);
  color: var(--color-text);
  letter-spacing: -0.0109rem;
}

.card h2 {
  margin-bottom: 18px;
  font: var(--text-h2);
  color: var(--color-pure-white);
  letter-spacing: -0.0141rem;
}

.price-text {
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 4px;
}

.price {
  font: var(--text-price);
  color: var(--color-pure-white);
  margin-right: 11px;
  letter-spacing: -0.025rem;
}

.duration {
  font: var(--text-duration);
  color: var(--color-white-50);
  letter-spacing: -0.0125rem;
}

.card-mid>p {
  font: var(--text-price-p);
  color: var(--color-pure-white);
  letter-spacing: -0.0125rem;
}

.card-mid button {
  width: 100%;
  height: 48px;
  margin-top: 26px;
  font: var(--text-button);
  color: var(--color-pure-white);
  background: hsl(70.8, 72.9%, 53.7%);
  box-shadow: 0rem 0.625rem 0.625rem rgba(0, 0, 0, 0.0973011);
  border-radius: 5px;
  letter-spacing: -0.0125rem;
  outline: none;
  border: none;
}

li {
  font: var(--text-li);
  color: var(--color-white-75);
  letter-spacing: -0.0109rem;
}

@media (min-width: 1440px) {

  .card {
    grid-template-columns: 19.8438rem 19.8438rem;
    grid-template-rows: 13.5rem 16.1875rem;
    grid-template-areas:
      "top top"
      "mid btm";
  }

  .card>section {
    padding: 2.5rem;
  }

  .card-top {
    grid-area: top;
  }

  .card-mid {
    grid-area: mid;
    border-bottom-left-radius: 5px;
  }

  .card-btm {
    grid-area: btm;
    border-bottom-left-radius: 0;
  }

  .card h1 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.0187rem;
  }

  .card .callout {
    margin-bottom: 11px;
    font: var(--text-h2);
    letter-spacing: -0.0141rem;
  }

  .card-top-text {
    margin-bottom: 0;
    font: var(--text-price-p);
    letter-spacing: -0.0125rem;
  }

}